.card {
    margin-bottom: 30px;
}

.card-img-top { 
    height: 200px;
    object-fit: cover;
  }
  
.card-footer {
    padding: 0;
    background: #fff;
}

.card-footer button {
    cursor: pointer;
    text-transform: uppercase;
}